<div class="ui dropdown tiny basic button" data-tooltip-content="{{ctx.Locale.Tr "repo.diff.options_button"}}">
	{{svg "octicon-kebab-horizontal"}}
	<div class="menu">
		<a class="item" id="show-file-list-btn">{{ctx.Locale.Tr "repo.diff.show_diff_stats"}}</a>
		<a id="expand-files-btn" class="item">{{ctx.Locale.Tr "repo.pulls.expand_files"}}</a>
		<a id="collapse-files-btn" class="item">{{ctx.Locale.Tr "repo.pulls.collapse_files"}}</a>
		{{if .Issue.Index}}
			{{if .ShowOutdatedComments}}
				<a class="item" href="?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated=false">
					<label class="tw-pointer-events-none">
						{{ctx.Locale.Tr "repo.issues.review.option.hide_outdated_comments"}}
					</label>
				</a>
			{{else}}
				<a class="item" href="?style={{if $.IsSplitStyle}}split{{else}}unified{{end}}&whitespace={{$.WhitespaceBehavior}}&show-outdated=true">
					<label class="tw-pointer-events-none">
						{{ctx.Locale.Tr "repo.issues.review.option.show_outdated_comments"}}
					</label>
				</a>
			{{end}}
		{{end}}
	</div>
</div>
